.hisIcon {
  transition: transform 0.3s ease;
  border: none !important;
  margin-top: 3rem !important;
}

.hisIcon:hover {
  transform: scale(1.05);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .hisIcon {
    margin: 10px 0;
  }

  .hisImg {
    max-width: 100%;
    height: auto;
  }

  .hisTitle {
    font-size: 1.5rem;
  }

  .hisText {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .hisIcon {
    margin: 5px 0;
  }

  .hisImg {
    max-width: 100%;
  }

  .hisTitle {
    font-size: 1.25rem;
  }

  .hisText {
    font-size: 0.9rem;
  }
}
