.myh4 {
  font-weight: 800 !important;
  font-size: 30px !important;
}

.skillsTag {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skillsTag.visible {
  opacity: 1;
  transform: translateY(0);
}

.skillsPara {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  animation-delay: 0.5s;
}

.skillsPara.visible {
  opacity: 1;
  transform: translateY(0);
}

.skillsHeader {
  display: flex;
  align-items: center;
}

.skillsImage {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.skillsContainer {
  margin-top: 80px;
  background-color: darkred;
  padding: 3rem;
}

@media (max-width: 768px) {
  .skillsTag {
    font-size: 2.5rem;
  }

  .skillsPara {
    font-size: 1rem;
    text-align: center;
  }

  .skillsImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .skillsHeader {
    flex-direction: column;
    align-items: center;
  }
}
