.experImg {
  width: 25rem !important;
  height: 15rem !important;
}

.experCard {
  align-items: center;
  border: 4px solid rgb(255, 255, 255) !important;
  width: 30rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background-color: #ffffff !important;
}

.experCard.visible {
  opacity: 1;
  transform: translateY(0);
}

.list-group-flush {
  font-weight: 600;
  color: grey;
}

.posiTag {
  background-color: rgb(142, 2, 2);
  color: white;
  font-weight: 500;
}

.titleCard a {
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(94, 3, 3);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: darkred;
  padding: 7rem;
}

.card-container > .card {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container > .card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-container > .card img {
  transition: transform 0.3s ease;
}

.card-container > .card:hover img {
  transform: scale(1.1);
}

.card-container > .card .card-body {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.card-container > .card:hover .card-body {
  opacity: 0.9;
}

.card-container > .card .list-group-item {
  transition: background-color 0.3s ease;
}

.card-container > .card .list-group-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .experCard {
    max-width: 130%;
  }

  .card-container {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .titleCard a {
    font-size: 1.25em;
  }

  .list-group-flush {
    font-size: 0.9em;
  }

  .posiTag {
    font-size: 0.9em;
  }
}
